[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "starter-hugo-academic"]
	path = starter-hugo-academic
	url = ./themes/starter-hugo-academic/
[submodule "themes/starter-hugo-academic"]
	path = themes/starter-hugo-academic
	url = https://github.com/wowchemy/starter-hugo-academic.git
[submodule "aafu"]
	path = aafu
	url = https://github.com/darshanbaral/aafu.git
[submodule "themes/aafu"]
	path = themes/aafu
	url = https://github.com/darshanbaral/aafu.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/byron123t/blist.git
