:root {
  --primaryBg: #222629;
  --primaryText: white;
  --primaryLinks: #86C232;
  --secondaryBg: #474B4F;
  --secondaryText: #61892F;
  --secondaryLinks: #61892F;
  --shadow: #595659;
  --cardBg: #474B4F;
  --cardText: white;
  --cardLink: #86C232;
}
